<h1>About Wiki Waki</h1>

<h3>Here at Wiki Waki..</h3>

<p>
    We strive to the most stunning online information to the masses at no cost.  This program was built using Ruby on Rails.
</p>



<p>app/views/welcome/about</p>
